// Note: This is blog scss.

/*Blog styles*/
.post {
    margin-bottom: 30px;
    padding: 30px;
    @include box-shadow(0 0 32px rgba(0, 0, 0, 0.04));
    &.post-format-video {
        .video__inner {
            position: absolute;
            top: 25px;
            right: 30px;
            min-height: 70px;
            > a {
                text-align: center;
                font-size: 24px;
                height: 60px;
                line-height: 60px;
                width: 60px;
            }
        }
    }
    .post-thumbnail {
        position: relative;
    }
}

.entry-date {
    background-color: $primary-color;
    right: 35px;
    position: absolute;
    text-align: center;
    top: 35px;
    width: 70px;
    height: 70px;
    z-index: 1;
    &:before, 
    &:after { 
        content: ""; 
        position: absolute; 
        top: 0; 
        left: 0; 
        height: 100%;
        width: 100%; 
        background-color: $primary-color;
    }
    &:before { 
        @include transform(rotate(30deg));
        z-index: -1;
    }
    &:after { 
        @include transform(rotate(60deg));
        z-index: -2;
    }
    > a {
        @include box-shadow(0 0 0 rgba(255, 255, 255, 1));
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        @include transform(rotate(44deg));
        z-index: 1;
        background-color: $primary-color;
        &:before, 
        &:after { 
            content: ""; 
            position: absolute; 
            top: 0; 
            left: 0; 
            height: 100%;
            width: 100%;  
            background-color: inherit;
            z-index: 1;
        }
        &:before { 
            @include transform(rotate(30deg));
        }
        &:after { 
            @include transform(rotate(60deg));
        }
    }
    .date {
        color: #fff;
        display: block;
        font-size: 30px;
        font-weight: 900;
        line-height: 25px;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 8px;
        top: 8px;
        text-transform: capitalize;
        @include transform(rotate(-43deg));
        z-index: 5;
        > b {
            display: block;
            font-size: 16px;
            font-weight: 500;
        }
    }
}
.entry-content {
    .entry-title {
        color: $primary-color;
        border-bottom: 1px solid #EFEFEF;
        font-size: 30px;
        font-weight: 700;
        margin: 0 0 25px;
        padding-bottom: 22px;
    }
    > p:last-child {
        margin-bottom: 0;
    }
}

.entry-meta {
    border-top: 1px solid #efefef;
    margin: -5px 0;
    padding: 15px 0 0;
    > span {
        color: #767676;
        font-size: 14px;
        margin-right: 15px;
        > i.fa {
            margin-right: 4px;
        }
        a:hover {
            color: $primary-color;
        }
    }
}
.post-format-slide .post-slide {
    position: relative;
    overflow: hidden;
    .owl-nav > button {
        background-color: rgba(58, 58, 58, 0.7);
        color: #fff;
        font-size: 28px;
        height: 40px;
        line-height: 40px;
        position: absolute;
        width: 40px;
        top: 50%;
        margin-top: -20px;
        @include transition(all 0.2s ease 0.05s);
        &.owl-prev {
            left: -40px;
        }
        &.owl-next {
            right: -40px;
        }
    }
    &:hover {
        .owl-nav > button {
            &.owl-prev {
                left: 0px;
            }
            &.owl-next {
                right: 0px;
            }
        }
    }
}

.post-format-audio iframe {
    border: 0 solid;
    height: 165px;
    width: 100%;
}

.post-format-video .post-video {
    position: relative;
    .video__inner {
        background-color: rgba($primary-color, 0.6);
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
    }
}



/*Single Blog Page*/
.single-post {
    .site-main {
        @include box-shadow(0 0 32px rgba(0, 0, 0, 0.04));
        padding: 30px 0;
    }
    .post {
        padding: 0px;
        @include box-shadow(0 0 0px rgba(0, 0, 0, 0.04));
    }
    .post-thumbnail{
        position: relative;
        margin: 0 30px 23px;
    }
    .entry-meta {
        border-bottom: 1px solid #efefef;
        padding: 17px 0 15px;
        margin-bottom: 25px;
        > span > a {
            color: #767676;
            &:hover {
                color: $primary-color;
            }
        }
    }
    .entry-content  {
        margin: 0 30px;
        > img.text-right {
            float: right;
            padding-left: 15px;
            display: inline-block;
            margin-bottom: 15px;
        }
    }
    .entry-footer {
        border-bottom: 1px solid #efefef;
        border-top: 1px solid #efefef;
        overflow: hidden;
        padding: 15px 30px;
        margin-top: 75px;
        .socila_share {
            margin-top: 0;
            width: 50%;
            float: left;
            .share {
                margin: 0px -3px 0;
                > li {
                    margin: 0 3px;
                    > a {
                        background-color: #fff;
                        @include box-shadow(0 0 0px rgba(0, 0, 0, 0.04));
                        font-size: 18px;
                        height: 38px;
                        line-height: 38px;
                        width: 38px;
                        color: #C3C3C3;
                        &:hover {
                            background-color: $primary-color;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}



/*Post pagination*/
.pagination {
    margin: 0 -5px 0px;
    > li {
        display: inline-block;
        margin: 0 5px;
        > a {
            background-color: #f4f4f4;
            border: 0 solid;
            color: #333;
            display: block;
            font-weight: bold;
            line-height: 40px;
            min-height: 40px;
            min-width: 40px;
            padding: 0 15px;
            font-size: 16px;
            text-align: center;
            border-radius: 0 !important;
            &:hover {
                background-color: $primary-color;
                border: 0px solid;
                color: #fff !important;
            }
            i {
                padding: 3px;
            }
        }
    }
}

/*Blog Sidebar*/
.sidebar{
	.section-title .main-title{
		padding-bottom: 20px;
		margin-top: 0;
		&:after{
			bottom: -1px;
		}
	}
	.widget{
		@include box-shadow(0 0 32px rgba(0, 0, 0, 0.04));
		padding: 20px 30px 30px;
		margin-bottom: 30px;
        .headline {
            font-size: 24px;
            margin-bottom: 20px;
            padding-bottom: 13px;
            &:before {
                width: 100px;            
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
		// search widget
		.search-form{
			label{
				width: calc(100% - 85px);
				float: left;
                margin-bottom: 0;
			}
			.search-field{
				padding: 0;
				border: 1px solid #EFEFEF;
				height: 40px;
				padding: 0 10px;
				width: 100%;
                font-size: 14px;
                background-color: transparent;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #b9b9b9;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: #b9b9b9;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: #b9b9b9;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: #b9b9b9;
				}
				&:focus{
					outline: none;
					outline-offset: 0;
				}
			}
			.search-submit{
				color: #fff;
				border: none;
			    padding: 7px 10px;
    			width: 85px;
                background-color: $primary-color;
                height: 40px;
                margin-top: -3px;
                font-size: 16px;
                font-weight: bold;
                &:hover {
                    background-color: $secondary-color;
                }
			}
		}
		// most views widget
		.most-view-post{
			.popular-post{
				border-bottom: 1px solid #EFEFEF;
				padding-bottom: 18px;
				margin-bottom: 20px;
                > img:hover {
                    opacity: 0.8;
                }
				&:last-child{
					border-bottom: none;
					padding-bottom: 0;
					margin-bottom: 0;
				}
				h5{
					font-weight: 700;
					margin-bottom: 0;
					margin-top: 15px;
                    font-size: 16px;
                    > a {
                        text-decoration: none;
                        color: $primary-color;
                        &:hover {
                            color: #000;
                        }
                    }
				}
			}
		}

		// recent post widget
		&.recent-post-widget{
			.simple-post-list{
				padding: 0;
				margin: 0;
				li{
					list-style: none;
					width: 100%;
					clear: both;
					border-bottom: 1px solid #efefef;
					border-top: 0px solid #efefef;
					padding-bottom: 20px;
					margin-bottom: 20px;
					display: inline-block;
                    padding-top: 0;
					&:last-child{
						border-bottom: none;
						padding-bottom: 0;
						margin-bottom: 0;
					}
					.post-image{
					    float: left;
                         width: 85px;
    					margin-right: 20px;
                        &:hover img {
                            opacity: 0.85;
                        }
					}
					.post-info{
                        overflow: hidden;
						.post-title{
							font-weight: 700;
                            font-size: 16px;
                            color: $primary-color;
                            line-height: 1.25em;
                            display: block;
                            margin: 0 0 3px;
                            &:hover {
                                color: #000;
                            }
						}
					}
					.post-meta{
						span{
							color: #b4b4b4;
                            font-size: 13px;
							a{
								color: #b4b4b4;
                                &:hover {
                                    color: $primary-color;
                                }
							}
							i{
								padding-right: 3px;
							}
                            &:before {
                                content: "|";
                                padding: 0 7px 0 3px;
                            }
                            &:first-child:before {
                                content: " ";
                                padding: 0px;
                            }
						}
					}
				}
			}
		}

		// category list
		.category-list{
			padding: 0;
			margin: 0;
			li{
				list-style: none;
				display: block;
				padding: 12px 0;
				border-bottom: 1px solid #efefef;
				border-top: 0px solid #efefef;
				&:first-child{
					padding-top: 0px;
				}
				&:last-child{
					border-bottom: none;
                    padding-bottom: 5px;
				}
				a{
					display: block;
					color: #333333;
					font-weight: 500;
                    font-size: 16px;
					.cat-count{
						float: right;
					}
                    &:hover {
                        color: $primary-color;
                    }
				}
			}
		}

		// instagram-feed
		.instagram-feed{
			padding: 0;
			margin: 0 -9px;
			li{
                border: 0px solid;
				list-style: none;
				display: inline-block;
				width: 91px;
			    height: 91px;
                padding: 0;
			    margin: 9px;
			    &:nth-child(3n){
			    	margin: 0 0 9px 0;
			    }
                img {
                    opacity: 1;
                    @include transition(all 0.2s);
                    &:hover {
                        opacity: 0.8;
                    }
                }
			}
		}
		&.video-widget{
            padding-top: 30px;
            text-align: center;
			.video{
				position: relative;
                display: inline-block;
                .video__inner {
                    background-color: rgba(69, 39, 160, 0.6);
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    min-height: 70px;
                    > a {
                        font-size: 24px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        width: 50px;
                    }
                }
			}
		}
	}
}


/*Post Navigation*/
.post-navigation {
    float: right;
    width: 49%;
    .nav-links {
        text-align: right;
        > div {
            display: inline-block;
            margin-left: 10px;
            > a {
                background-color: #fff;
                display: block;
                font-size: 16px;
                font-weight: normal;
                height: 40px;
                line-height: 40px;
                padding: 0 20px;
                text-transform: capitalize;
                @include box-shadow(0 0 0 rgba(255, 255, 255, 0));
                @include transition(all 0.25s ease 0.05s);
                border: 1px solid #EFEFEF;
            }
            &.nav-next > a {
                color: #fff;
                background-color: $primary-color;
                &:after {
                    content: "";
                    font-family: Flaticon;
                    padding-left: 3px;
                }
                &:hover {
                    color: $primary-color;
                    background-color: #fff;
                }
            }
            &.nav-previous > a {
                &:before {
                    content: "";
                    font-family: Flaticon;
                    padding-right: 3px;
                }
                &:hover {
                    color: #fff;
                    background-color: $primary-color;
                }
            }
        }
    }
}

/*Comment Serpond*/
#comments {
    padding: 22px 30px 0;
    .comments-title.headline {
        font-size: 24px;
        margin-bottom: 45px;
        padding-bottom: 12px;
        &:before {
            width: 105px;
        }
    }
}
.comment-form .form-submit {
    margin-bottom: 0;
}
.comment-respond {
    padding: 35px 30px 0;
    .comment-reply-title.headline {
        font-size: 24px;
        margin-bottom: 0px;
        padding-bottom: 12px;
        &:before {
            width: 165px;
        }
    }
    > p {
        margin: 23px 0 !important;
    }
    p {
        margin-bottom: 35px;
        > textarea,
        > input {
            background-color: transparent;
            border: 1px solid #efefef;
        }
        .submit {
            background-color: $primary-color;
            border: 1px solid $primary-color;
            font-weight: bold;
            text-transform: uppercase;
            height: 50px;
            padding: 0 40px;
            &:hover {
                background-color: #333;
                border: 1px solid #333;
            }
        }
    }
}



// Notebook device
@media #{$notebook-device-max}{
    .sidebar .widget {
        .headline {
            font-size: 22px;
            padding-bottom: 10px;
        }
        .category-list li {
            padding: 10px 0;
            > a {
                font-size: 15px;
            }
        }
        &.recent-post-widget .simple-post-list li .post-info {
            overflow: unset;
        }
        .instagram-feed {
            margin: 0 -5px;
            li {
                margin: 5px;
                &:nth-child(3n) {
                    margin: 5px;
                }
            }
        }
    }
    .post-navigation .nav-links > div {
        &:first-child {
            margin-left: 0;
        }
        > a {
            padding: 0 15px;
        }
    }
}

// Tablet device
@media #{$tablet-device}{
  
}
@media #{$tablet-device-max}{
    .entry-content .entry-title {
        font-size: 26px;
        margin: 0 0 20px;
        padding-bottom: 16px;
    }
    .single-post {
        > .container {
            margin-bottom: -30px;
        }
        .entry-meta {
            margin-bottom: 20px;
            padding: 15px 0 13px;
        }
        .site-main {
            margin-bottom: 50px;
        }
        .entry-footer {
            margin-top: 45px;
        }
    }
    .sidebar .widget {
        .search-form .search-submit {
            width: 145px;
        }
    }
    .pagination {
        padding: 5px 0 45px;
        width: 100%;
        margin: 0 -3px;
        > li {
            margin: 2px 3px;
            > a {
                font-size: 15px;
                line-height: 35px;
                min-height: 35px;
                min-width: 35px;
            }
        }
    }
}

// Large Moblie device
@media #{$large-mobile-max}{
    .entry-date {
        height: 55px;
        right: 25px;
        top: 25px;
        width: 55px;
        .date {
            top: 5px;
            left: 5px;
            font-size: 22px;
            line-height: 22px;
            > b {
                font-size: 14px;
            }
        }
    }
    .single-post {
        .site-main {
            padding: 20px 0 30px;
        }
        .post-thumbnail {
            margin: 0 20px 15px;
        }
        .entry-content {
            margin: 0 20px;
        }
        .entry-footer  {
            margin-top: 35px;
            padding: 20px 20px 25px;
            .socila_share {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }
    .entry-content .entry-title {
        font-size: 22px;
        margin: 0 0 17px;
        padding-bottom: 15px;
    }
    .post-navigation {
        width: 100%;
        .nav-links > div.nav-previous {
            float: left;
        }
    }
    #comments {
        padding: 15px 20px 0;
        .comments-title.headline {
            margin-bottom: 35px;
        }
    }
    .comment-respond .comment-reply-title.headline,
    #comments .comments-title.headline {
        font-size: 20px;
    }
    .comment-respond {
        padding: 25px 20px 0;
        .comment-reply-title.headline {
            margin-bottom: 20px;
        }
        > p {
            margin: 20px 0 !important;
        }
        p {
            margin-bottom: 20px;
        }
    }
    .comment-body {
        margin-bottom: 25px;
        padding-bottom: 25px;
    }
    .comment-author {
        margin-right: 15px;
    }
    .comment-info b > a {
        font-size: 15px;
    }
    .sidebar .widget {
        padding: 20px;
        .headline {
            font-size: 20px;
        }
    }
    .post {
        padding: 20px;
    }
}

// Large mobile
@media only screen and (max-width: 600px){
    .single-post .entry-content > img.text-right {
        float: none;
        margin-bottom: 20px;
        padding-left: 0;
    }
    .sidebar .widget .search-form .search-submit {
        width: 85px;
    }
    .comment-respond p .submit {
        height: 44px;
        padding: 0 30px;
    }
    .comment-info b,
    .comment-meta {
        width: 100%;
    }
    .comment-info b {
        margin-bottom: 5px;
    }
    .comment-meta .comment-metadata {
        float: left;
    }
    .comment-reply-link {
        font-size: 12px;
        padding: 0 10px;
    }
}

// Small device
@media #{$small-mobile}{
    .post-navigation .nav-links > div > a {
        font-size: 14px;
        padding: 0 15px;
    } 
}
